* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --var-creme: #fff7e7;
  --var-dark: #272e38;
  --var-lightgreen: #8aa885;
  --var-beige: #7e6d64;
  --var-green: #576e1f;
  --var-darkblue: #51637b;
  --var-lightblue: #8892a6;
  --var-red: #b33d35;
}

html, body, .section {
  height: 100%;
}

html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

body {
  background-image: url(/Img/wwindo.png);
  background-size: cover;
  background-attachment: fixed;
}

section {
  padding: 1rem;
  height: 100vh;
  text-align: center;
  position: relative;
  scroll-snap-align: start;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list .nav-list {
  font-family: "Racing Sans One", cursive;
  font-weight: lighter;
  font-size: 25px;
  padding: 10px 50px;
}
.list .nav-list :hover {
  cursor: pointer;
  color: var(--var-creme);
}
.list a {
  color: ghostwhite;
}

.title-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.title {
  max-width: 10em;
  min-width: auto;
  font-family: "Racing Sans One", cursive;
  color: aliceblue;
  font-size: 10em;
  font-weight: lighter;
}
.title .flipX {
  color: var(--var-creme);
  animation: 0.5s anim-flipX ease infinite;
}
@keyframes anim-flipX {
  0% {
    opacity: 1;
    transform: rotateX(90def);
  }
  10% {
    opacity: 0;
    transform: rotateX(720deg);
  }
  15% {
    opacity: 0;
    transform: rotateX(720deg);
  }
  25% {
    opacity: 0;
    transform: rotateX(720deg);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  75% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  85% {
    opacity: 0;
    transform: rotateX(720deg);
  }
  95% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
.title .span-title {
  text-decoration: underline;
  font-size: 40px;
  position: absolute;
  bottom: -105px;
  left: 10px;
}

.about-garage h2 {
  position: absolute;
  left: 20px;
  display: block;
  justify-content: start;
  align-items: start;
  font-family: "Racing Sans One", cursive;
  color: ghostwhite;
  font-size: 100px;
  font-weight: normal;
  text-decoration: underline;
}

.main-ag-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 12rem 5rem 2rem 50%;
  grid-gap: 5em;
}

.about-content-1, .about-content-2, .about-content-3, .about-content-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 46, 56, 0.6352941176);
  width: 100%;
  height: auto;
  min-height: 300px;
  color: var(--var-creme);
  border: solid 1px var(--var-dark);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}
.about-content-1:hover, .about-content-2:hover, .about-content-3:hover, .about-content-4:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--var-creme);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 15px;
}
.about-content-1 h3, .about-content-2 h3, .about-content-3 h3, .about-content-4 h3 {
  font-family: "Racing Sans One", cursive;
  font-size: 2em;
}/*# sourceMappingURL=style.css.map */